.beers-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.card-beers {
	width: 23%;
	margin: 20px 10px 0 10px;
	padding: 30px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 6px 0 #dedede;
	background: white;
	min-height: 310px;
	min-width: 265px;
}

.card-beers:hover {
	box-shadow: 0 0 14px 2px #c1c0c0;
	transform: scale(1.02);
	transition: transform .5s;
}

.card-beers:hover img {
	transform: scale(1.1);
	transition: transform .5s;
}

.card-beers img {
	height: 150px;
	margin-bottom: 15px;
}

.SinglePopupBeer {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: center;
	height: 100vh;
}

.popup-center {
	background: white;
	height: 350px;
	border-radius: 8px;
	padding: 30px;
	display: flex;
	width:40%;
	flex-direction: row;
	position: relative;
}

.close, .favoriteIcon {
	position: absolute;
	cursor: pointer;
	right: 10px;
	top: 10px;
}

.left-side {
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.left-side img {
	height: 100%;
}

.tagline{
	color: #FFC107;
	margin: 0;
}

.right-side {
	padding: 20px;
	display: flex;
	flex-direction: column;
	border-radius: 13px;
}

.right-side .title, .card-beers .title {
	margin-top: 0;
	color: #f89400;
	font-size: 20px
}

.card-beers .title{
	margin-bottom: 0;
	cursor: pointer;
}

.card-beers p{
	margin: 0;
}

.right-side .desciption {
	color: #888784;
}

.right-side span{
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        background: #FF5722;
        border-radius: 5px;
        color: white;
        justify-content: center;
        align-items: center;
        width: 84px;
        height: 30px;
}
.options{
	display: flex;
	flex-direction: row
}
.description_popup {
	    font-size: 14px;
	    margin-bottom: 20px;
	    border-bottom: 1px solid gray;
	    padding-bottom: 20px;
	    display: block;
	    overflow-y: scroll;
	    height: 135px;
	    padding-right: 10px;
}
@media only screen and (max-width: 1080px) {
	.card-beers {
		width: 36%;
	}
}

@media only screen and (max-width: 760px) {
	.card-beers {
		width: 80%;
		margin: 20px 0 0 0;
		
	}
}
