.container {
	display: flex;
	margin: 0 auto;
	width: 60%;
	justify-content: center;
}
.loader {
	    z-index: 4;
	    /* margin: 0 auto; */
	    left: 46%;
}

@media only screen and (max-width: 1180px) {
	.container{
	
	}
}
